<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <script type="importmap">
            {
                "imports": {
                    "three": "https://cdn.jsdelivr.net/npm/three@0.171.0/build/three.module.js",
                    "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.171.0/examples/jsm/"
                }
            }
        </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
        <script src="{{ url_for('static', filename='js/board.js') }}"></script>
    </head>
    <body>
        <canvas id="board" width="800" height="800"></canvas>
    </body>
</html>